{% extends "base.html" %}
{% block title %}
    Login! - Scrumptious Recipes
{% endblock title %}
{% block content %}
    <header>
        <nav class="blue1-background">
            <a href="{% url 'main_page' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <h1 id="blue-text2">Login!</h1>
        <div class="container3">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    Don't have an account? Sign up <a class="blue-text" href={% url 'signup' %}>here</a>!
                </p>
                <button class="button-style blue-text">Log in</button>
            </form>
        </div>
    </main>
{% endblock content %}
