{% extends "base.html" %}
{% block title %}
    Sign up! - Scrumptious Recipes
{% endblock title %}
{% block content %}
    <header>
        <nav class="blue1-background">
            <a href="{% url 'main_page' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <h1 class="blue-text">Sign up!</h1>
        <div class="container2">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    Already have an account? Log in <a class="blue-text" href={% url 'user_login' %}>here</a>!
                </p>
                <button class="button-style blue-text">Sign up</button>
            </form>
        </div>
    </main>
{% endblock content %}
