{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon"
              href="{% static 'css/favicon.ico' %}"
              type="image/png">
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="lightblue-background">
        {% block content %}
        {% endblock content %}
        <footer class="blue1-background">
            <div id="orange-text" class="center-align">Made with (◍•ᴗ•◍)❤ by Scrumptious Recipes</div>
        </footer>
    </body>
</html>
